*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    width: 100%;

    background-image:  radial-gradient(rgb(154, 22, 22), black);
}
#stopwatch{
    background-color: black;
    padding: 2rem;
    border-radius: 8px;
}
#timer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    height: 250px;
    width: 250px;
    border: 3px solid red;
    border-radius: 100%;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 1.5rem;
    padding: 4rem;
}
#actions{
    display: flex;
    gap: 0.5rem;
}
#actions button{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 0.6rem;
    font-size: 1rem;
    border: none;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

#actions button:hover{
    background-color: rgb(192, 33, 33);
}

#marks-list{
    display: flex;
    gap: 0.7rem;
    flex-direction: column;
    color: white;
}
#marks-list p{
    margin-top: 1.5rem;
}